# This file is the tracked example environment file for this stack. Sensitive values are intentionally blank.
GEOIPUPDATE_ACCOUNT_ID=
GEOIPUPDATE_LICENSE_KEY=""
SERVICE=traefik
SPECIAL_HEADER_NAME=X-Homelab-Access-Bypass
SPECIAL_HEADER_SECRET=""
TRAEFIK_EXTERNAL_URL=traefik.example.com
TRAEFIK_INTERNAL_URL=http://192.0.2.99:8080
TRAEFIK_LOG_AGENT_TOKEN=""
TRAEFIK_LOG_DASHBOARD_EXTERNAL_URL=tld.example.com
TRAEFIK_LOG_DASHBOARD_INTERNAL_URL=http://192.0.2.99:5101
TRAEFIK_LOG_DASHBOARD_SERVICE=traefik-log-dashboard
## Traefik specific (sensitive!)
CF_DNS_API_TOKEN=""
