# This file is the tracked example environment file for this stack. Sensitive values are intentionally blank.
SERVICE=authentik
SPECIAL_HEADER_NAME=X-Homelab-Access-Bypass
SPECIAL_HEADER_SECRET=""
TRAEFIK_EXTERNAL_URL=auth.example.com
TRAEFIK_INTERNAL_URL=http://192.0.2.99:9000
## Authentik
AUTHENTIK_SECRET_KEY=""
COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9443
PG_DB=authentik
PG_PASS=""
PG_USER=""
